@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

html,
body {
  height: 100%;
}

body {
  @apply bg-white text-body antialiased;
}

a {
  @apply text-brand-700 hover:text-brand-600;
}

::selection {
  @apply bg-brand-100;
}
